.footer{
  background-color: #333;
  // height: 50rem;
  display: flex;
  justify-content: center;
  color: #eee;
  font-size: 1.5rem;
  text-align: center;
  padding: .5rem 0;

  &__textbox{
    margin: .5rem 0;
  }
}