.about{
  background-color: #eee;

  &__title{
    // text-align: center;
    padding: 2rem 0;
  }

  &__details{
    // background-color: olive;
    display: flex;
    margin: 3rem 0 ;
  }

  &__textbox{
    // background-color: blue;
    font-size: 3rem;
    color: #666;
    margin-right: 20rem;
    text-align: justify;
  }

  &__imgbox{
    background-color: red;
    height: 15rem;
    width: 15rem;
    border: 1px solid #eee;
    border-radius: 50%;
    overflow: hidden;
  }

  &__img{
    display: block;
    width: 15rem;
    height: 15rem;
    object-fit: contain;
  }

  &__qualifications{
    // background-color: bisque;      //for development purposes
    // height: 50rem;
    display: flex;
    padding-bottom: 3rem;
  }

  &__qualifications-box{
    // background-color: #ccc;         //for development purposes
    padding: 0 3rem ;
    width: 30%;

    &:not(:last-child){
      margin: 0 8rem 0 0;
    }
  }

  &__qualifications-title{
    font-size: 4rem;
    color: #333;
    // text-align: center;
  }

  &__ql-box{
      // background-color: aqua;          //for development purposes
      padding: 1rem 0;
  }

  &__ql-title{
    font-size: 2.5rem;
    color: #666;
    
  }

  &__ql-description{
    font-size: 2rem;
    color: #999;
    margin-bottom: 1rem;
  }

}

