.about{
  background-color: #eee;

  &__title{
    // text-align: center;
    padding: 1rem 0;
  }

  &__details{
    // background-color: olive;
    display: flex;
    margin: 3rem 0 ;
  }

  &__textbox{
    // background-color: blue;
    font-size: 3rem;
    color: #666;
    margin-right: 20rem;
    text-align: justify;
    // width: 55%;

  }

  &__imgbox{
    background-color: red;
    height: 15rem;
    width: 15rem;
    border: 1px solid #eee;
    border-radius: 50%;
    overflow: hidden;
  }

  &__img{
    display: block;
    width: 15rem;
    height: 15rem;
    object-fit: contain;
  }

  &__qualifications{
    background-color: bisque;
    height: 50rem;
  }
}

