.about{
  background-color: #eee;

  &__title{
  }

  &__details{
    // background-color: olive;       //for development purposes
    display: flex;
    margin: 3rem 0 ;
  }

  &__textbox{
    // background-color: blue;        //for development purposes
    font-size: 3rem;
    color: #666;
    margin-right: 20rem;
    text-align: justify;
  }

  &__imgbox{
    height: 30rem;
  }

  &__img{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
  }

  &__qualifications{
    // background-color: bisque;      //for development purposes
    display: flex;
    padding-bottom: 7rem;
  }

  &__qualifications-box{
    // background-color: #ccc;         //for development purposes
    width: 30%;

    &:not(:last-child){
      margin: 0 8rem 0 0;
    }
  }

  &__qualifications-title{
    font-size: 4rem;
    font-weight: 500;
    color: #333;
  }

  &__ql-box{
      // background-color: aqua;          //for development purposes
      padding: 1rem 0;
  }

  &__ql-title{
    font-size: 2.5rem;
    color: #666;
    
  }

  &__ql-description{
    font-size: 1.5rem;
    color: #999;
    margin-bottom: 1rem;
  }

}

