.navigation{
    // background-color: aqua;
    padding: .5rem 0;

    position: absolute;
    top: 2.5rem;
    right: 20rem;

    &__box{
        display: flex;
        // flex-direction: row-reverse;
        font-size: 3.5rem;
        color: #666;
    }

    &__item {
        list-style: none;
        margin: 0 1rem; 
    }
}