.navigation{
  // background-color: aqua;
  padding: .5rem 0;

  position: absolute;
  top: 2.5rem;
  right: 4rem;

  &__box{
    display: flex;
    // flex-direction: row-reverse;
    font-size: 2.5rem;
    color: #eee;
  }

  &__item {
    list-style: none;
    margin: 0 1rem; 
  }
}