*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.section-title {
  font-size: 5rem;
  color: #333;
  text-align: center; }

.universal-padding {
  padding: 0 20rem; }

.test {
  background-color: green;
  height: 50rem;
  margin-bottom: 1rem; }

.navigation {
  padding: .5rem 0;
  position: absolute;
  top: 2.5rem;
  right: 4rem; }
  .navigation__box {
    display: flex;
    font-size: 2.5rem;
    color: #eee; }
  .navigation__item {
    list-style: none;
    margin: 0 1rem; }

.about {
  background-color: #eee; }
  .about__title {
    padding: 1rem 0; }
  .about__details {
    display: flex;
    margin: 3rem 0; }
  .about__textbox {
    font-size: 3rem;
    color: #666;
    margin-right: 20rem;
    text-align: justify; }
  .about__imgbox {
    background-color: red;
    height: 15rem;
    width: 15rem;
    border: 1px solid #eee;
    border-radius: 50%;
    overflow: hidden; }
  .about__img {
    display: block;
    width: 15rem;
    height: 15rem;
    object-fit: contain; }
  .about__qualifications {
    background-color: bisque;
    height: 50rem; }

.projects {
  background-color: darkcyan;
  height: 50rem; }

.contact {
  background-color: #d8d1b9;
  text-align: center;
  font-size: 3rem;
  color: #89835d; }
  .contact__details {
    margin-top: 8rem; }
  .contact__socials {
    padding: 8rem 0 2rem 0; }
  .contact__sl-box {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem 0; }
  .contact__sl-item {
    list-style: none;
    font-size: 4rem; }
    .contact__sl-item:not(:last-child) {
      margin-right: 3rem; }
  .contact__sl-link {
    text-decoration: none;
    color: #999;
    text-shadow: 1px 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }

.fa-github:hover {
  color: #f1502f; }

.fa-linkedin-in:hover {
  color: #07b5; }

.fa-bitbucket:hover {
  color: #2684ff; }

.fa-twitter:hover {
  color: #38a1f3; }

.fa-facebook-f:hover {
  color: #3b5998; }

.footer {
  background-color: #333;
  display: flex;
  justify-content: center;
  color: #eee;
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem 0; }
  .footer__textbox {
    margin: 1rem 0; }

.header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(64, 107, 85, 0.8)), url(../img/desk-banner.jpg) center/cover no-repeat;
  height: 50rem;
  border-bottom: 2px solid #333;
  position: relative;
  transition: all .2s; }
  .header__textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__primary {
    color: #eee;
    font-size: 9rem; }
